<%- include('parts/html-head') %> <%- include('parts/navbar') %>

    <div class="container">
      <div class="row justify-content-end">
        <div class="col-4">
          <select class="form-select" id="orderby" onchange="changeParams()">
            <option value="sid_asc">預設(編號升冪)</option>
            <option value="sid_desc">編號降冪</option>
            <option value="birthday_asc">生日升冪</option>
            <option value="birthday_desc">生日降冪</option>
          </select>
        </div>
        <div class="col-4">
          <form class="d-flex" role="search" onsubmit="changeParams(event)">
            <input class="form-control me-2" type="search" name="search" placeholder="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <% for(let i=page-5; i<=page+5; i++) if(i>=1 && i<=totalPages){ %>
                  <li class="page-item <%= i==page ? 'active' : '' %>">
                    <a class="page-link" href="javascript: gotoPage(<%= i %>)">
                      <%= i %>
                    </a>
                  </li>
                  <% } %>
            </ul>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col"><i class="fa-solid fa-trash"></i></th>
                <th scope="col">#</th>
                <th scope="col">姓名</th>
                <th scope="col">email</th>
                <th scope="col">手機</th>
                <th scope="col">生日</th>
                <th scope="col">地址</th>
                <th scope="col">
                  <i class="fa-solid fa-file-pen"></i>
                </th>
              </tr>
            </thead>
            <tbody>
              <% for(let r of rows){ %>
                <tr>
                  <td>
                    <a href="javascript: deleteItem(<%= r.sid %>)">
                      <i class="fa-solid fa-trash"></i>
                    </a>
                  </td>
                  <td>
                    <%= r.sid %>
                  </td>
                  <td>
                    <%= r.name %>
                  </td>
                  <td>
                    <%= r.email %>
                  </td>
                  <td>
                    <%= r.mobile %>
                  </td>
                  <td>
                    <%= r.birthday && toDateString(r.birthday) %>
                  </td>
                  <td>
                    <%= r.address %>
                  </td>
                  <td>
                    <a href="<%= baseUrl %>/edit/<%= r.sid %>">
                      <i class="fa-solid fa-file-pen"></i>
                    </a>
                  </td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <%- include('parts/script') %>
      <script>
        const usp = new URLSearchParams(location.search);
        const searchInput = document.querySelector('input[name=search]');
        const orderbySel = document.querySelector('#orderby');

        if (usp.get('search')) {
          // 把之前的關鍵字放回去
          searchInput.value = usp.get('search');
        }
        if (usp.get('orderby')) {
          orderbySel.value = usp.get('orderby');
        }

        const gotoPage = (page) => {
          usp.set('page', page);
          location.href = '?' + usp.toString();
        }
        // 設定關鍵字, 或變更排序
        const changeParams = (event = null) => {
          if (event) event.preventDefault();
          usp.set('page', 1);
          usp.set('orderby', orderbySel.value);
          usp.set('search', searchInput.value);
          location.href = '?' + usp.toString();
        }


        function deleteItem(sid) {
          if (!confirm(`是否要刪除編號為 ${sid} 的資料?`)) {
            return;
          }

          fetch(`<%= baseUrl %>/${sid}`, {
            method: 'DELETE'
          })
            .then(r => r.json())
            .then(data => {
              console.log(data);
              if (data.success) {
                location.reload();
              }
            })
        }
      </script>
      <%- include('parts/html-foot') %>